$bg-color: #181818;
$text-color: #fff;
$primary: #f13e54;
$secondary: #2cdceb;


$link: hsla(353, 86%, 59%, 0.8);
$link-hover: #f13e54;

$primary-btn-background: #2cdceb;
$primary-btn-border: #3ea4ad;
$primary-btn-text: #181818;

$secondary-btn-background: #f13e54;
$secondary-btn-border: #d82d41;
$secondary-btn-text: #181818;




$dark-color: #181818;
$light-color: #cfcfcf;
