$bg-color: #F0F2F5;
$text-color: black;
$primary: #2cdceb;
$secondary: #f13e54;


$link: hsla(185, 83%, 55%, 0.8);
$link-hover: #2cdceb;

$primary-btn-background: #f13e54;
$primary-btn-border: #a72d3b;
$primary-btn-text: #181818;

$secondary-btn-background: #2cdceb;
$secondary-btn-border: #3ea4ad;
$secondary-btn-text: #181818;



$dark-color: #181818;
$light-color: #cfcfcf;
